<p id="notice"><%= notice %></p>

<div>
  <span >Informe o endereço: </span>
  <div ><%= react_component("SuggestBar") %> </div>
</div>
<%= react_component("StationsTable", {stations: @stations}) %>


<br>

<%= link_to 'New Station', new_station_path %>
